---
export const prerender = false;

import Card from "@components/hbd-card.astro";
import Layout from "@layouts/base.astro";
import Main from "@layouts/main.astro";
---

<Layout>
  <Main class="m-4">
    <Card />
  </Main>
</Layout>
