---
import Layout from "@layouts/base.astro";
import Main from "@layouts/main.astro";

const types = [{ label: "Navidad", value: "navidad" }];
---

<Layout>
  <Main>
    <form class="form-control max-w-fit gap-2">
      <section class="flex justify-center items-center border-primary rounded">
        {
          types.map(({ label, value }) => (
            <label class="label cursor-pointer gap-2">
              <span class="label-text">{label}</span>
              <input
                class="radio"
                type="radio"
                name="tipo"
                value={value}
                checked
              />
            </label>
          ))
        }
      </section>
      <label class="flex items-center gap-2">
        <span class="font-bold">De: </span>
        <input
          class="input input-md input-bordered flex-1"
          type="text"
          name="de"
        />
      </label>
      <label class="flex items-center gap-2">
        <span class="font-bold">Para*: </span>
        <input
          class="input input-md input-bordered flex-1"
          type="text"
          name="para"
          required
        />
      </label>
      <button class="btn btn-sm" type="submit">Crear</button>
    </form>
  </Main>
</Layout>
<script>
  const form = document.querySelector("form") as HTMLFormElement;

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const type = formData.get("tipo")?.toString();
    const from = formData.get("de")?.toString();
    const to = formData.get("para")?.toString();

    if (!to) return;

    const url = new URL(window.location.href);
    url.pathname = `/${type}` || "/hbd";
    url.searchParams.set("de", from!);
    url.searchParams.set("para", to!);

    window.location.replace(url.toString());
  });
</script>
