---
export const prerender = false;

import Card from "@components/card.astro";
import Share from "@components/share.astro";
import CardLayout from "@layouts/card-layout.astro";
import Main from "@layouts/main.astro";

const from = Astro.url.searchParams.get("de");
const to = Astro.url.searchParams.get("para");
---

<CardLayout>
  <Fragment slot="head">
    <link rel="preconnect" href="https://fonts.googleapis.com" slot="head" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </Fragment>

  <Main class="m-4 custom-background">
    <div class="fixed bottom-4 right-4">
      <Share />
    </div>
    <Card title={"Feliz Navidad"}>
      <div
        id="front"
        class:list={[
          "absolute top-0 left-0 h-full w-full flex justify-center items-center font-bold text-slate-50",
          "front-bg",
        ]}
        slot="front"
      >
        <h1 class:list={[" text-4xl", "custom-shadow"]}>Feliz navidad</h1>
      </div>
      <div
        id="inside"
        class:list={[
          "flex flex-col justify-center px-4 py-10 text-sm gap-4 h-full text-slate-50",
          "custom-shadow-text",
          "back-bg",
        ]}
      >
        <p class="text-left">
          {
            to ? (
              <>
                ¡<span class="text-amber-400">{to}</span> felices Fiestas! ✨
              </>
            ) : (
              "¡Felices Fiestas! ✨"
            )
          }
        </p>
        <p>
          Que esta Navidad te llene de amor, alegría y momentos inolvidables
          junto a tus seres queridos.
        </p>
        <p>
          Que el nuevo año traiga salud, éxitos y muchas razones para sonreír.
        </p>
        <p>
          ¡Brilla con fuerza y que tus sueños se hagan realidad en este 2025!
        </p>
        {
          from ? (
            <p class="text-right">
              Con todo mi cariño, <span class="text-rose-600">{from}</span>
            </p>
          ) : null
        }
      </div>
    </Card>
  </Main>
</CardLayout>
<style>
  #front {
    font-family: "Clicker Script", cursive;
  }
  .custom-shadow {
    text-shadow: 0.1rem 0.1rem 0.25rem black;
  }
  .custom-shadow-text {
    text-shadow: 0.05rem 0.05rem black;
    font-family: "Pacifico", sans-serif;
  }
  .front-bg {
    background-image: url("images/xmas-wrapper.png");
    background-size: cover;
    background-position: -26px -20px;
  }
  .back-bg {
    background-image: url("images/xmas-trees.jpg");
    background-size: cover;
    background-position: right;
  }
</style>
