<article class="card">
  <div class="front relative">
    <slot name="front" />
  </div>
  <div class="inside">
    <slot />
  </div>
</article>
<style>
  .card {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
    z-index: 50;
  }

  .card:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow:
      inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      0 10px 100px rgba(0, 0, 0, 0.4);
  }

  .card:hover .front {
    transform: rotateY(-160deg);
  }

  .card:hover .title {
    visibility: hidden;
  }

  .front {
    position: relative;
    background-color: #ffffff;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow:
      inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
  }

  .title {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    transition: 0.1s;
  }

  .inside {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  p {
    font-family: "Brush Script MT", cursive;
    margin: 20px;
    color: #333;
  }

  .name {
    position: absolute;
    left: 120px;
    top: 220px;
    color: #333;
  }

  .back {
    font-family: Tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style: dotted;
  }
</style>
