---
import ThemeSelector from "@components/theme-selector.astro"
---

<nav class="flex justify-between p-4 items-center h-14">
    <a class="font-bold" href="/">Generador de Cartas de Cumpleaños</a>
    <div></div>
    <div><ThemeSelector/></div>
</nav>
