---
import ThemeSelector from "@components/theme-selector.astro";
---

<nav class="flex h-14 items-center justify-between p-4">
  <a class="font-bold" href="/">Generador de cartas</a>
  <div><ThemeSelector /></div>
</nav>
